*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    padding: .5rem;
}

h1{
    display: inline-block;
    font-size: 2.5rem;
    line-height: 3rem;
    vertical-align: top;
}

main{
    width: 1200px;    
    margin: 2.5rem auto 0px;       
}

h1{
    font-weight: 600;
    font-size: 2em;
    margin-bottom: .5rem;
}

h3{
    font-weight: 400;
    font-size: 1.5em;
    display: inline-block;
}

ul{
    margin-bottom: 3rem;
}

li{
    margin-bottom: 1rem;
}

.options{
    padding: 1rem 3rem .5rem;
    margin-bottom: 2px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}

.bg-blue{
    background-color: #46acf0;
    border: 0;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #9a70e2;
}

.bg-green{
    background-color: #62bea7;
}

.bg-orange{
    background-color: #f09d32;
}

.bg-magenta{
    background-color: #d762a0;
}

.bg-kiwi{
    background-color: #aec724;
}

.font-white{
    color: white;
}

.button{
    border-radius: 5px;
    padding: .5em .75em;
}

.button.bg-white{
    color: #dadee1;
    border-color: #dadee1;
}

.task-program{
    list-style-type: "▼  ";
    background-color: white;
    padding: 3rem 6rem 1rem; 
    line-height: 2rem;   
    margin-bottom: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
}

.single-task-ok{
    list-style-type: "✅ ";    
}

.single-task-no{
    list-style-type: "❌ ";    
}

.tag{
    color: white;
    font-size: .60em;
    padding: .75em 1.2em;
    border-radius: 10px;
}